<style>
          
    .dynamic-cell {
      border-bottom: 10px gold solid;
      padding: 0.5em 0.5em 0 0;
    }
    .govuk-summary-list__row {
      border-bottom: 1px #e1e1e1 solid;
      height:3em
    }

    .govuk-summary-list__key{
        font-weight: normal
    }

</style>
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key govuk-!-width-one-half">
  Outstanding
</dt>
<dd class="govuk-summary-list__value">
 <span class="dynamic-cell" style="padding-right:3em">15</span>
</dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key govuk-!-width-one-half">
    Good
  </dt>
  <dd class="govuk-summary-list__value">
  <span class="dynamic-cell" style="padding-right:6em">36</span>
  </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      Requires improvement
    </dt>
    <dd class="govuk-summary-list__value">
     <span class="dynamic-cell" style="padding-right:0.2em">2</span>
    </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        Inadequate
      </dt>
      <dd class="govuk-summary-list__value">
       <span class="dynamic-cell" style="padding-right:0.1em">1</span>
      </dd>
      </div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key govuk-!-width-one-half">
    Total
  </dt>
  <dd class="govuk-summary-list__value">
   54 </span>
  </dd>
  </div>
  </dl>