<svg height="300" width="300" xmlns="http://www.w3.org/2000/svg">
  <!-- 		Axes -->
      <line x1="47" y1="0" x2="47" y2="202" style="stroke:#666;stroke-width:2" />
      <line x1="47" y1="202" x2="300" y2="202" style="stroke:#666;stroke-width:2" />
      <!-- <rect width="250" height="50" x="50" y="100" fill="#e1e1e1" /> -->
      
  <!-- 	Y Scale -->
  <text class="axis-text"x="15" y="50" fill="#666">150</text>
  <text class="axis-text"x="15" y="100" fill="#666">100</text>
  <text class="axis-text"x="25" y="150" fill="#666">50</text>
  <text class="axis-text"x="30" y="200" fill="#666">0</text>
      
  <!-- 		X Scale -->
      <text x="50" y="220" fill="#666">Apr</text>
      <text x="150" y="220" fill="#666">May</text>
      <text x="250" y="220" fill="#666">Jun</text>
      
      <!-- 		Green, orange, blue bars -->
      <!-- Green: height and y add up to 200 -->
      <rect width="100" height="50" x="50" y="150" fill="#cce2d8" stroke="white" /> 
      <!-- Orange - height and y equal the y of the green bar -->
      <rect width="100" height="20" x="50" y="130" fill="#f4cdc6" stroke="white" /> 
      <!-- Blue - height and y equal the y of the blue bar -->
      <rect width="100" height="30" x="50" y="100" fill="#bbd4ea" stroke="white" /> 

      <rect width="100" height="40" x="150" y="160" fill="#cce2d8" stroke="white" /> 
      <rect width="100" height="30" x="150" y="130" fill="#f4cdc6" stroke="white" /> 
      <rect width="100" height="40" x="150" y="90" fill="#bbd4ea" stroke="white" /> 

      <rect width="100" height="70" x="250" y="130" fill="#cce2d8" stroke="white" /> 
      <rect width="100" height="30" x="250" y="100" fill="#f4cdc6" stroke="white" /> 
      <rect width="100" height="20" x="250" y="80" fill="#bbd4ea" stroke="white" /> 

      
    </svg>