{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {% if data['user'] == "agent" %}
              Number of balls your client can juggle
            {% else %}
              Number of balls you can juggle
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value">
              {{data['how-many-balls']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="juggling-balls.html">Change<span class="govuk-visually-hidden"> how many balls</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {% if data['user'] == "agent" %}
              What can your client juggle?
            {% else %}
              What can you juggle?
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              <!-- Display the selected check box values in a list -->
              {% for i in data['objects'] %}
              <li>
                {{i}}
              </li>
              {% endfor %}
            </ul>

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="juggling-objects.html">Change<span class="govuk-visually-hidden"> objects</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Most impressive juggling trick
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['most-impressive-trick'] %}
              {{data['most-impressive-trick']}}
            {% else %}
              Not entered
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="juggling-trick.html">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
