{% extends "layouts/main.html" %}

<!-- {% set pageQuestion = "Have you finished this section?" %}
{% set pageQuestionAgent = "Have you finished this section?" %}
{% set pageHint = "You'll still be able to go back and review the information that you've given us once you've finished." %}
{% set pageAnswer = "foreign-property-about-complete-section" %}
{% set valueOne = "Yes" %}
{% set valueTwo= "No" %}
{% set valueOneAgent = "Yes" %}
{% set valueTwoAgent = "No" %}
{% set errorOne = "Enter a value for did your client get Boab tax" %} -->

{% block pageTitle %}
{% if  data['errorthispage'] == "true"  %}
Error:
{% endif %}

{% if  data['user'] == "agent"  %}
{{pageQuestionAgent}}
{% else %}
{{pageQuestion}}
{% endif %}
{% endblock %}

{% block content %}

Input value {{ data['input-value'] }}

Session data value defined in Routes {{ data['testdata'] }}

<br>

Routes value {{outputvalue}}

<br>

    {{ govukButton({
      text: "Continue",
      href: "input"
    }) }}

  </form>

  
  {% endblock %}
  
