{% extends "layouts/main.html" %}

{% set pageQuestion = "Did you get Boab tax?" %}
{% set pageQuestionAgent = "Did your client get Boab tax?" %}
{% set pageAnswer = "boab-tax" %}
{% set valueOne = "Yes" %}
{% set valueTwo= "No" %}
{% set errorOne = "Enter a value for did your client get Boab tax" %}

{% block pageTitle %}
    {% if  data['errorthispage'] == "true"  %}
        Error:
    {% endif %}

    {% if  data['user'] == "agent"  %}
        {{pageQuestionAgent}}
    {% else %}
        {{pageQuestion}}
    {% endif %}
{% endblock %}

{% block content %}
<form action="form-handler" method="post" novalidate>



  <code>
    {{ govukRadios({ 
      classes: "govuk-radios--inline",
      name: "myAnswer",
      value: "myAnswer",
      fieldset: {
        legend: {
          text: "Do you ayeeeeee?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Gwan gwan "
      },
      items: [
        {
          value: "Aye",
          text: "Aye"
        },
        {
          value: "Naw",
          text: "Naw"
        }
      ]
    }) }}
    </code>
  

</form>

{% endblock %}
