{% extends "layouts/main.html" %}

{% set pageName="D3 example" %}

{% block content %}

      <h1>{{pageName}}</h1>
<!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>

<script>
var data = {"children": [
                {"children": [
                  {"stat": 1},
                  {"stat": 1},
                  {"stat": 1}
                ]},
                {"children": [
                  {"stat": 1},
                  {"stat": 1},
                  {"stat": 2},
                  {"stat": 3}
                ]},
                {"children": [
                  {"stat": 1},
                  {"stat": 1},
                  {"stat": 1},
                  {"stat": 1},
                  {"stat": 2},
                  {"stat": 2},
                  {"stat": 2},
                  {"stat": 4},
                  {"stat": 4},
                  {"stat": 8}
                ]},
            ]};

var root = d3.hierarchy(data)
  .sum(d => d.hasOwnProperty("stat") ? d.stat : 0)
  .sort((a,b) => b.value - a.value);

var partition = d3.pack()
  .size([250,250]);

partition(root);

d3.select("#demo1 g")
  .selectAll('circle.node')
  .data(root.descendants())
  .enter()
  .append('circle')
  .classed('node', true)
  .attr('cx', d => d.x)
  .attr('cy', d => d.y)
  .attr('r', d => d.r);
</script>

<svg id="demo1" width=260 height=260>
  <text x="5" y="15" fill="red">SVG works, code doesn't</text>
  <!-- <g  transform="translate(5,5)"></g> -->
</svg>



    <!--

    End of Main section

    -->
  </main>
{% endblock %}