{% extends "layouts/main.html" %}

{% set pageName="D3 example" %}

{% block content %}
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Examples taken from https://d3-graph-gallery.com/graph/shape.html -->
 
      <h1>{{pageName}}</h1>

<p>SVG circle:</p>
<svg>
  <circle style="fill: #69b3a2" stroke="black" cx=100 cy=100 r=40></circle>
</svg>
<p>D3 circle, yay:</p>
<!-- Create a div where the graph will take place -->
<div id="circle"></div>

<script>

// create svg element:
var svg = d3.select("#circle").append("svg").attr("width", 200).attr("height", 200)

// Add the path using this helper function
svg.append('circle')
  .attr('cx', 100)
  .attr('cy', 100)
  .attr('r', 50)
  .attr('stroke', 'black')
  .attr('fill', '#69a3b2');
</script>

<p>Curve, using data yas:</p>
<div id="curve"></div>
<script>
  // create data
var data = [{x: 0, y: 20}, {x: 150, y: 150}, {x: 300, y: 100}, {x: 450, y: 20}, {x: 600, y: 130}]

// create svg element:
var svg = d3.select("#curve").append("svg").attr("width", 800).attr("height", 200)

// prepare a helper function
var curveFunc = d3.line()
  .curve(d3.curveBasis)              // This is where you define the type of curve. Try curveStep for instance.
  .x(function(d) { return d.x })
  .y(function(d) { return d.y })

// Add the path using this helper function
svg.append('path')
  .attr('d', curveFunc(data))
  .attr('stroke', 'black')
  .attr('fill', 'none');
</script>
    <!--

    End of Main section

    -->
  </main>
{% endblock %}