{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Register to access adult social care data</h1>

      <form class="form" action="2-confirm-code" method="post">
       
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Enter your email address",
            classes: "govuk-label--l"
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          classes: "govuk-input--width-20",
          spellcheck: false
        }) }}
       
{{ govukButton({
  text: "Continue"
}) }}

      </form>

    </div>
  </div>

{% endblock %}
