{% extends "layouts/main.html" %}

{% set titleH1 = "Enter code to confirm your email address" %} {% block pageTitle %} {{titleH1}} - {{serviceName}} - GOV.UK {% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Enter code to confirm your email address</h1>
      <p>We have sent a code to <strong>pavindersingh@greenfields.co.uk</strong></p>
      <p>The email contains a 6-digit security code. The code expires after 15 minutes.</p>

      <form class="form" action="3-your-name" method="post">
       
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Enter the 6 digit code"
          },
          classes: "govuk-input--width-10",
          id: "width-10",
          name: "width10"
        }) }}

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I did not receive the code
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">
           The email may take a few minutes to arrive. The subject of the email is 'DHSC security code'.
            </p>
            <p class="govuk-body"></p>
            If you still have not got the email, check your spam or junk mail folder. If it is not there, we can <a class="govuk-link" href="2-confirm-code">send the code again</a>.
             </p>
          </div>
        </details>
       
{{ govukButton({
  text: "Continue"
}) }}

      </form>

    </div>
  </div>

{% endblock %}
