{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="5-create-password" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "whereDoYouLive",
          fieldset: {
            legend: {
              text: "What is your organisation type?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Academic institution",
              text: "Academic institution"
            },
            {
              value: "Care provider",
              text: "Care provider"
            },
            {
              value: "Government department or other body",
              text: "Government department or other body"
            },
            {
              value: "Local authority",
              text: "Local authority"
            },
            {
              value: "NHS",
              text: "NHS"
            },
            {
              value: "Other",
              text: "Other"
            }
          ]
        }) }}

       
{{ govukButton({
  text: "Continue"
}) }}

      </form>

    </div>
  </div>

{% endblock %}
