{% extends "layouts/main.html" %}

{% set titleH1 = "Check your answers before submitting your request" %} {% block pageTitle %} {{titleH1}} - {{serviceName}} - GOV.UK {% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Check your answers before submitting your request</h1>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['firstName'] + ' ' + data['lastName']
            },
            actions: {
              items: [
                {
                  href: "3-your-name",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Job title"
            },
            value: {
              text: data['jobTitle']
            },
            actions: {
              items: [
                {
                  href: "4-job-title",
                  text: "Change",
                  visuallyHiddenText: "job title"
                }
              ]
            }
          },
          {
            key: {
              text: "Organisation type"
            },
            value: {
              text: data['orgType']
            },
            actions: {
              items: [
                {
                  href: "5-organisation-type",
                  text: "Change",
                  visuallyHiddenText: "Organisation type"
                }
              ]
            }
          },
          {
            key: {
              text: "Organisation name"
            },
            value: {
              text: data['orgName']
            },
            actions: {
              items: [
                {
                  href: "6-organisation-name",
                  text: "Change",
                  visuallyHiddenText: "organisation name"
                }
              ]
            }
          }
        ]
      }) }}


      <form class="form" action="8-complete" method="post">
       

{{ govukButton({
  text: "Confirm and submit"
}) }}


      </form>

    </div>
  </div>

{% endblock %}
