<h3>Age and xxx</h3>
<svg height="300" width="300" xmlns="http://www.w3.org/2000/svg">
  <!-- 		Axes -->
      <line x1="50" y1="0" x2="50" y2="200" style="stroke:#666;stroke-width:2" />
      <line x1="50" y1="200" x2="300" y2="200" style="stroke:#666;stroke-width:2" />
      <rect width="250" height="50" x="50" y="100" fill="#e1e1e1" />
      
  <!-- 	Y Scale -->
  <text class="axis-text"x="15" y="50" fill="#666">150</text>
  <text class="axis-text"x="15" y="100" fill="#666">100</text>
  <text class="axis-text"x="22" y="150" fill="#666">50</text>
  <text class="axis-text"x="30" y="200" fill="#666">0</text>
      
  <!-- 		X Scale -->
      <text x="50" y="220" fill="#666">50</text>
      <text x="150" y="220" fill="#666">100</text>
      <text x="250" y="220" fill="#666">150</text>
      
      <!-- 		Lines -->
       <polyline points="50,150 100,75 150,50 200,140 250,140 300,99"
    style="fill:none;stroke:green;stroke-width:3" />
      <polyline points="50,90 100,105 150,150 200,140 250,102 300,85"
    style="fill:none;stroke:red;stroke-width:3" />
      
    </svg>