<svg height="300" width="300" xmlns="http://www.w3.org/2000/svg">
  <!-- 		Axes -->
      <line x1="47" y1="0" x2="47" y2="202" style="stroke:#666;stroke-width:2" />
      <line x1="47" y1="202" x2="300" y2="202" style="stroke:#666;stroke-width:2" />
      <!-- <rect width="250" height="50" x="50" y="100" fill="#e1e1e1" /> -->
      
  <!-- 	Y Scale -->
  <text class="axis-text"x="15" y="50" fill="#666">150</text>
  <text class="axis-text"x="15" y="100" fill="#666">100</text>
  <text class="axis-text"x="25" y="150" fill="#666">50</text>
  <text class="axis-text"x="30" y="200" fill="#666">0</text>
      
  <!-- 		X Scale -->
      <text x="50" y="220" fill="#666">Apr</text>
      <text x="150" y="220" fill="#666">May</text>
      <text x="250" y="220" fill="#666">Jun</text>
      
      <!-- 		Bars - height and y add up to 200-->
          <!-- First 10 -->
      <rect width="10" height="100" x="50" y="100" fill="#cce2d8" stroke="white" /> 
      <rect width="10" height="120" x="60" y="80" fill="#cce2d8" stroke="white" />
      <rect width="10" height="130" x="70" y="70" fill="#cce2d8" stroke="white" />
      <rect width="10" height="150" x="80" y="50" fill="#cce2d8" stroke="white" />
      <rect width="10" height="180" x="90" y="20" fill="#cce2d8" stroke="white" />
      <rect width="10" height="190" x="100" y="10" fill="#cce2d8" stroke="white" />
      <rect width="10" height="160" x="110" y="40" fill="#cce2d8" stroke="white" />
      <rect width="10" height="120" x="120" y="80" fill="#cce2d8" stroke="white" />
      <rect width="10" height="90" x="130" y="110" fill="#cce2d8" stroke="white" />
      <rect width="10" height="60" x="140" y="140" fill="#cce2d8" stroke="white" />
      
      <!-- Second 10 -->
      <rect width="10" height="100" x="150" y="100" fill="#cce2d8" stroke="white" /> 
      <rect width="10" height="120" x="160" y="80" fill="#cce2d8" stroke="white" />
      <rect width="10" height="130" x="170" y="70" fill="#cce2d8" stroke="white" />
      <rect width="10" height="150" x="180" y="50" fill="#cce2d8" stroke="white" />
      <rect width="10" height="180" x="190" y="20" fill="#cce2d8" stroke="white" />
      <rect width="10" height="190" x="200" y="10" fill="#cce2d8" stroke="white" />
      <rect width="10" height="160" x="210" y="40" fill="#cce2d8" stroke="white" />
      <rect width="10" height="120" x="220" y="80" fill="#cce2d8" stroke="white" />
      <rect width="10" height="90" x="230" y="110" fill="#cce2d8" stroke="white" />
      <rect width="10" height="60" x="240" y="140" fill="#cce2d8" stroke="white" />
      
    </svg>