{% extends "layouts/main.html" %}

{% block pageTitle %}
  Conditional page editor
{% endblock %}

{% set pageHeadline = "H1 heading" %}
{% set pageQuestion = "Do you wanna?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
<form action="#" method="post" novalidate>
<h1 class="govuk-heading-m">
  Conditional page editor
</h1>

{% include "./_navigation.html" %}

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s">
    H1 heading
  </label>
  <input class="govuk-input govuk-input--width-10" id="ss-headline" name="ss-headline" 
  type="text" value="{{ data['ss-headline'] | default('H1 heading')}}">
</div>
    
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s">
        Paragraph 1
      </label>
      <textarea class="govuk-textarea" id="ss-para1" name="ss-para1" rows="2" 
      cols="25">
        {{ data['ss-para1'] }}
    </textarea>
    </div>
    {% set pageText1 = data['ss-para1'] %}

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s">
        Paragraph 2
      </label>
      <textarea class="govuk-textarea" id="ss-para2" name="ss-para2" rows="2" 
      cols="25">
        {{ data['ss-para2'] }}
      </textarea>
    </div>
    {% set pageText2 = data['ss-para2'] %}

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s">
        Paragraph 3
      </label>
      <textarea class="govuk-textarea" id="ss-para3" name="ss-para3" rows="2" 
      cols="25">
        {{ data['ss-para3'] }}
      </textarea>
    </div>
    {% set pageText3 = data['ss-para3'] %}

<!-- Uncomment the following lines to offer more paragraph boxes: -->
<!-- 
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s">
        Paragraph 4
      </label>
      <textarea class="govuk-textarea" id="ss-para4" name="ss-para4" rows="2" 
      cols="25">
        {{ data['ss-para4'] }}
      </textarea>
    </div>
    {% set pageText4 = data['ss-para4'] %}

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s">
        Paragraph 5
      </label>
      <textarea class="govuk-textarea" id="ss-para5" name="ss-para5" rows="2" 
      cols="25">
        {{ data['ss-para5'] }}
      </textarea>
    </div>
    {% set pageText5 = data['ss-para5'] %} -->

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s">
        Link text
      </label>
      <input class="govuk-input govuk-input--width-10" id="ss-link-text" name="ss-link-text" 
      type="text" value="{{ data['ss-link-text'] | default('What is the thing?')}}">
    </div>
    {% set linkText = data['ss-link-text'] %}

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s">
        Link ref
      </label>
      <input class="govuk-input govuk-input--width-10" id="ss-link-ref" name="ss-link-ref" 
      type="text" value="{{ data['ss-link-ref'] | default('What is the thing?')}}">
    </div>
    {% set linkRef = data['ss-link-ref'] | default ('#') %}

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s">
        H2 question
      </label>
      <input class="govuk-input govuk-input--width-10" id="ss-h1" name="ss-h1" 
      type="text" value="{{ data['ss-h1'] | default('What is the thing?')}}">
    </div>
    {% set pageQuestion = data['ss-h1'] | default('H2') %}


    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s">
        Hint text (optional)
      </label>
      <input class="govuk-input govuk-input--width-10" id="ss-hint" name="ss-hint" 
      type="text" value="{{ data['ss-hint'] }}">
    </div>
    {% set pageHint = data['ss-hint'] %}

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s">
        Value 1
      </label>
      <input class="govuk-input govuk-input--width-10" id="ss-value-1" name="ss-value-1" 
      type="text" value="{{ data['ss-value-1'] }}">
    </div>
    {% set valueOne = data['ss-value-1'] | default('Yes') %}

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s">
        Value 2
      </label>
      <input class="govuk-input govuk-input--width-10" id="ss-value-2" name="ss-value-2" 
      type="text" value="{{ data['ss-value-2'] }}">
    </div>
    {% set valueTwo = data['ss-value-2'] | default('No') %}

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s">
        Answer ID
      </label>
      <input class="govuk-input govuk-input--width-10" id="ss-answer" name="ss-answer" 
      type="text" value="{{ data['ss-answer'] | default('myAnswer') }}">
    </div>
    {% set pageAnswer = data['ss-answer'] %}

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s">
        Conditional question
      </label>
      <input class="govuk-input govuk-input--width-10" id="ss-conditional" name="ss-conditional" 
      type="text" value="{{ data['ss-conditional'] | default('Enter the amount')}}">
    </div>
    {% set conditionalQuestion = data['ss-conditional'] %}

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s">
        Conditional answer ID
      </label>
      <input class="govuk-input govuk-input--width-10" id="ss-conditional-id" name="ss-conditional-id" 
      type="text" value="{{ data['ss-conditional-id'] | default('conditionalAnswer') }}">
    </div>
    {% set conditionalAnswer = data['ss-conditional-id'] %}

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s">
        Conditional hint text (optional)
      </label>
      <input class="govuk-input govuk-input--width-10" id="ss-conditional-hint" name="ss-conditional-hint" 
      type="text" value="{{ data['ss-conditional-hint'] }}">
    </div>
    {% set conditionalHint = data['ss-conditional-hint'] %}

    {% set conditionalHtml %}
    {{ govukInput({
      id: conditionalAnswer,
      name: conditionalAnswer,
      classes: "govuk-!-width-one-third",
      label: {
        text: conditionalQuestion
      },
      hint: {
        text: conditionalHint
      },
      prefix: {
        text: "£"
      }
    }) }}
    {% endset -%}

    {{ govukButton({
      text: "Apply"
    }) }}

  </form>

    <h1 class="govuk-heading-m">
      Output
    </h1>
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button"  onclick="myFunction()">
      Copy to clipboard
    </button>
  <p class="govuk-body">
<code id="myInput">
  <!--<h1 class="govuk-heading-xl">
    {{ data['ss-headline'] }}
  </h1>
  <p>
    {{ data['ss-para1'] }}
  </p>
  <p>
    {{ data['ss-para2'] }}
  </p>
  <p>
    {{ data['ss-para3'] }}
  </p>

  <p class="govuk-body">
    <a href="{{ linkRef }}" target="_blank">{{ linkText }}</a>
  </p>

  </p>-->

  &#123;% set conditionalHtml %&#125;
  &#123;&#123; govukInput&#40;&#123;
    id: conditionalAnswer,
    name: conditionalAnswer,
    classes: "govuk-!-width-one-third",
    label: &#123;
      text: "{{conditionalQuestion}}"
    },
    hint: &#123;
      text: "{{conditionalHint}}"
    },
    prefix: &#123;
      text: "£"
    }
  &#125;&#41; &#125;&#125;
  &#123;% endset -%&#125;

  &#123;&#123; govukRadios&#40;&#123; 
    name: "{{pageAnswer}}",
    id: "{{pageAnswer}}",
    fieldset: &#123;
      legend: &#123;
        text: "{{pageQuestion}}",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      &#125;
    &#125;,
    hint: &#123;
      text: "{{pageHint}}"
    &#125;,
    items: &#91;
      &#123;
        value: "{{valueOne}}",
        text: "{{valueOne}}",
        conditional: {
          html: conditionalHtml
        }
      &#125;,
      &#123;
        value: "{{valueTwo}}",
        text: "{{valueTwo}}"
      &#125;
    &#93;
  &#125;&#41; &#125;&#125;
  </code>
</p>
    
  </div> 
  <div class="govuk-grid-column-two-thirds"> 
  
  <form action="#" method="post" novalidate>
    <h1 class="govuk-heading-xl">
      {{data['ss-heading'] | default('H1 heading')}}}}
    </h1>
    
    <p class="govuk-body">
      {{pageText1}}  
    </p>

    <p class="govuk-body">
      {{pageText2}}  
    </p>

    <p class="govuk-body">
      {{pageText3}}  
    </p>

    <p class="govuk-body">
      {{pageText4}}  
    </p>

    <p class="govuk-body">
      {{pageText5}}  
    </p>

    <p class="govuk-body">
      <a href={{ linkRef }} class="govuk-link" target="_blank">{{ linkText }}</a>
    </p>

  {{ govukRadios({
    name: pageAnswer,
    id: pageAnswer,
    value: data[pageAnswer],
    fieldset: {
      legend: {
        text: pageQuestion,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: pageHint
    },
    items: [
      {
        value: valueOne,
        text: valueOne,
        conditional: {
          html: conditionalHtml
        }
      },
      {
        value: valueTwo,
        text: valueTwo
      }
    ]
  }) }}


    {{ govukButton({
      text: "Continue"
    }) }}

    
  </form>


  <script>
  function myFunction() {
    // Get the text field
    let copyText = document.getElementById("myInput").innerHTML;

    // Copy the text inside the text field
    navigator.clipboard.writeText(copyText);

    // Alert the copied text
    alert("Code copied");
} 
  </script>
  
  {% endblock %}
  
