{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block header %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukServiceNavigation({
  serviceName: "Get adult social care data",
  serviceUrl: "#",
  navigation: [
    {
      href: "#",
      text: "Home",
      active: true
    },
    {
      href: "#",
      text: "Get data"
    },
    {
      href: "#",
      text: "Dashboards"
    },
    {
      href: "#",
      text: "Datasets"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   

    <h1 class="govuk-heading-xl">
      {{ pageName }}
    </h1>
    <p>Introduce the platform ...</p>


{% endblock %}
