{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <p><a href="0-1/index">Care Provider: first login</a></p>
    <p><a href="d3/d3">D3 sandpit</a></p>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}
  </div>
</div>

{% endblock %}
