{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <h2 class="govuk-heading-m">Early sketches</h2>
    <p><a href="0-1/dashboard">Demand and capacity dashboard</a></p>
    <p><a href="0-1/index">Care Provider: first login</a></p>
    <p><a href="0-1/queries">View your queries, and collegues'</a></p>
    <p><a href="d3/d3">D3 sandpit</a></p>

  </div>
</div>

{% endblock %}
