{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2>Journeys for user research, January 2025</h2>
    <p><a href="0-1/registration/0-start">Start - Request access</a></p>
    <p><a href="0-1/login-first-time/1-start">Start - First-time login</a></p>
    <p><a href="0-1/login/1-start">Start - Return user and password reset journey</a></p>
    <p><a href="0-1/dashboard/index">Home page - logged in</a></p>
    <h2 class="govuk-heading-m">Early sketches</h2>

    <p><a href="0-1/dashboard/index">Care Provider: first login</a></p>
    <p><a href="0-1/dashboard/queries">View your queries and see collegues' queries</a></p>
    <p><a href="d3/d3">D3 sandpit</a></p>

    <h2 class="govuk-heading-m">Templates</h2>
    <p><a href="/passing-data/data">Data dashboard</a></p>
    <p><a href="/passing-data/index?myURLdata=Parsnip">Data cheat sheet</a></p>
    <p><a href="/templates/index">Page examples</a></p>
    <p><a href="/juggling-service/start">Juggling service</a></p>
    <p><a href="/editable-pages/editor-radios">Editable pages</a></p>
  </div>
</div>

{% endblock %}
